<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Conan Chan</title>
        <script  src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/css/materialize.min.css">
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/js/materialize.min.js"></script>
        <!-- Materialize icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Icons in ajax lib for Github and LinkedIn-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/portfolio.css">
    </head>
    <body>
        <!-- Navigation wrapper for home page (refresh) and other tools -->
        <div>
            <div class="navbar-fixed">
                <nav>
                    <div class="nav-wrapper blue-grey lighten-1" style="padding-left: 20px" id="main">
                    </div>
                </nav>
            </div>
        </div>
        <!-- Parallax Image -->
        <div id="parallax" class="parallax-container" style="height: 300px"></div>
        <!-- Description for about me -->
        <div id="aboutMe"></div>
        <div id="parallax1" class="parallax-container" style="height: 250px"></div>
        <div class="container row" id="skills">
            <h2>Skills I learned</h2>
            <table class="highlight">
                <thead>
                    <th>Languages</th>
                    <th>Frameworks</th>
                    <th>Libraries</th>
                    <th>Databases/ORM</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Python</td>
                        <td>Angular 4</td>
                        <td>Express/Socket.io</td>
                        <td>MongoDB</td>
                    </tr>
                    <tr>
                        <td>JavaScript</td>
                        <td>Flask</td>
                        <td>Bootstrap</td>
                        <td>MySQL</td>
                    </tr>
                    <tr>
                        <td>Ruby</td>
                        <td>Django</td>
                        <td>jQuery</td>
                        <td>SQLite</td>
                    </tr>
                    <tr>
                        <td>HTML/CSS</td>
                        <td>Rails</td>
                        <td>Mongoose</td>
                        <td>Active Record</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Node.js</td>
                        <td>Materialize</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="parallax2" class="parallax-container" style="height: 250px"></div>
        <!-- Lists of projects including corresponding videos and details -->
        <div id="project1" class="container row projects"></div>
        <!-- Container for contact information -->
        <div class="container" id="contactMe">
            <h2>Contact</h2>
            <p>I would love to connect!</p>
            <a href="http://www.linkedin.com/chanconan"><i class="fa fa-linkedin-square" style="font-size:48px"></i></a>
            <a href="http://www.github.com/chanconan"><i class="fa fa-github" style="font-size:48px"></i></a>
            <a href="mailto:chanconan67@gmail.com"><i class="fa fa-envelope-square" aria-hidden="true" style="font-size: 48px">mail</i></a>
        </div>
        <script src="./static/js/bundle.js"></script>
    </body>
</html>
